.venv/

__pycache__
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# VS Code settings
.vscode/

.github/copilot-instructions.md


/ml_denoiser/output/**/*.exr
/ml_denoiser/output/**/*.png
/ml_denoiser/output/**/*.jpg
/ml_denoiser/output/**/*.jpeg
/ml_denoiser/output/**/*.tif
/ml_denoiser/output/**/*.tiff